.autocomplete {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translateX(-50%) translateY(-50%);
 text-align: center;

 .autocomplete__termlist {
  position: absolute;
  width: 100%;
  list-style: none inside;
  padding: 0px;
  margin: 0 auto 2em;
  text-align: left;
  background: $white;
  border: 1px solid $lightGrey;

  .__li {
   padding: .5em 0;
   border-bottom: 1px solid $lightGrey;
   padding: $default-value;

   .__link {
    text-decoration: none;
    color: $secondary;
    text-transform: capitalize;
    outline-color: $secondary;
   }
  }
 }

 @media #{$small-and-down} {
  top: 0px;
  transform: translateX(-50%) translateY(10%);
  width: 90%;
  .autocomplete__termlist{
   max-height: 200px;
   overflow-y: scroll;
  }
 }
}